*{
    background: #02142c;
}

/* 
.login-box{
    width: 300px;
    height: 400px;
    background-color: rgb(41, 72, 119);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    overflow: hidden; 
    border-radius: 3px;
} */
.login-box::after{
    content: '';
    width: 300px;
    height: 400px;
    background: radial-gradient( rgb(255, 3, 242), transparent);
    box-shadow: 8px 8px 150px 1px rgb(255, 43, 244);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    
}
.login-box::before{
    content: '';
    width: 300px;
    height: 400px;
    background: radial-gradient( aqua, transparent);
    box-shadow: 8px 8px 150px 1px aqua;
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: top left;
    
}

.log-box{
    position: absolute;
    inset: 2px;
    z-index: 10;
    border-radius: 3px;
    background-color: #02142c;
}

.login-box{
    width: 300px;
    height: 400px;
    background-color: rgb(4, 18, 39);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    overflow: hidden; 
    border-radius: 3px;
}
/* .login-box::after{
    content: '';
    width: 300px;
    height: 400px;
    background: radial-gradient( rgb(255, 43, 244), transparent);
    box-shadow: 8px 8px 150px 1px rgb(255, 43, 244);
    position: absolute;
    top: 50%;
    left: 50%;
    
}
.login-box::before{
    content: '';
    width: 300px;
    height: 400px;
    background: radial-gradient( aqua, transparent);
    box-shadow: 8px 8px 150px 1px aqua;
    position: absolute;
    top: -50%;
    left: -50%;
    
}

.log-box{
    position: absolute;
    inset: 2px;
    z-index: 10;
    border-radius: 3px;
    background-color: #02142c;
} */
